.env
.secrets
node_modules/
.node_modules/
built/*
test-args.txt
~*.docx
\#*\#
.\#*
*.swp
build.json
*.actual
*.config
coverage/
internal/
**/.DS_Store
.settings
**/.vs
**/.vscode/*
.idea
yarn-error.log
.parallelperf.*
